// dark 主题颜色定义规范
$color-background = #080D1F
$color-background-menu = #39A5FF
$color-background-placeholder = #9B9B9B 100%
$color-current = rgba(57, 165, 255, .6)
$color-font = #fff
$color-hover = #39A5FF
$color-disable = rgba(255, 255, 255, .2)
$color-now = #D0021B
$color-date = rgba(255, 255, 255, .5)
$color-tick = #fff
// light 主题颜色定义规范
$color-background-l = #ccc
$color-background-menu-l = #ff0
$color-background-placeholder-l = rgba(255, 255, 255, .5)
$color-current-l = rgba(57, 165, 25, .5)
$color-font-l = #000
$color-hover-l = #ff0
$color-disable-l = rgba(255, 255, 255, .2)
$color-now-l = green
$color-date-l = rgba(255, 255, 255, .5)
$color-tick-l = #000
